body {
  margin: 0;
  font-family: sans-serif;
  background: #0f172a;
}

button {
  margin-right: 10px;
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: linear-gradient(45deg, #06b6d4, #3b82f6);
  color: white;
  cursor: pointer;
}